* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glacial Interference', sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    background-color: #1A1A53;
    color: white;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar li {
    margin: 10px 0;
    font-size: 1.1em;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns layout */
    gap: 20px;
}

.event-card {
    border: 2px solid #1A1A53;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.event-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.event-card p {
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.add-event, .learn-more {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.add-event {
    background-color: #D1D1F3;
    color: #1A1A53;
}

.learn-more {
    background-color: #1A1A53;
    color: white;
}

.right-sidebar {
    background-color: #1A1A53;
    color: white;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icon {
    font-size: 2em;
    margin: 20px 0;
}
