body {
    font-family: 'Glacial Indifference';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
   
}

.container {
    display: flex;
    height: 100vh;
    overflow: hidden; /* Keep container height and ensure content fits */
}

h1 {
    font-family: 'Peace Sans';
    font-size: 36px;
    text-align: center;
    color: #151750;
}

/* Sidebar Styling */
.sidebar {
    background-color: #151750;
    color: white;
    width: 200px; /* Adjusted width */
    padding: 10px;
    flex-shrink: 0;
}

.sidebar h2 {
    font-family: 'Peace Sans';
    font-size: 24px;
    color: #C2CBF8;
    margin-bottom: 20px;
}

.section-title {
    font-family: 'Peace Sans';
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

/* Right Navigation Bar */
.navigationbar {
    background-color: white;
    width: 70px; /* Adjusted width */
    padding: 2px;
    flex-shrink: 0;
    border-radius: 8px; /* Added border radius */
}

.img_navig {
    margin: 2px 1px 2px 1px;
}

/* Planner Container Styling */
.planner-container {
    display: flex;
    flex-grow: 1; /* Takes up the remaining space between the two sidebars */
    height: 100vh;
    background-color: #f9f9f9;
}

.time-slots {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
    padding-left: 10px;
    background-color: white;
}

.time-slot {
    flex: 1;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    font-size: 14px;
    color: #000;
}

.day-label {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.day {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 5px;
    text-align: center;
    font-family:'Peace Sans';
    color: #151750;
    margin-top: 300px;
}

.date {
    font-size: 20px;
    text-align: center;
    margin-top: auto;
    font-family:'Glacial Indifference';
    color: #151750;
    margin-bottom: 250px;
}