* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glacial Interference';
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh; /* Make the container occupy the full height */
}

.sidebar {
    background-color: #1A1A53;
    color: white;
    width: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar li {
    margin: 10px 0;
    font-size: 1.1em;
}

.main-content {
    flex-grow: 1; /* Make the main content expand to fill the space between the sidebars */
    display: flex;
    justify-content: center;
}

.centered-text {
    font-size: 3em;
    text-transform: uppercase;
    text-align: center;
}

.right-sidebar {
    background-color: #1A1A53;
    color: white;
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icon {
    font-size: 2em;
    margin: 10px 0;
    color: white;
}
