* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Glacial Interference';
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
h1 {
    font-family: 'Peace Sans';
    font-size: 36px;
    text-align: center;
    color: #151750;
}

/* Sidebar Styling */
.sidebar {
    background-color: #151750;
    color: white;
    width: 250px; /* Adjusted width */
    padding: 10px;
    flex-shrink: 0; /* Added border radius */
}

.sidebar h2 {
    font-family: 'Peace Sans';
    font-size: 16px;
    color: #C2CBF8;
    margin-bottom: 20px;
}

.section-title {
    font-family: 'Peace Sans';
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

/* Main Content Styling */
.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow: auto; /* Allow vertical scrolling */
}

.section {
    margin-bottom: 20px;
    height: calc(50% - 40px); /* Divides the sections evenly */
    overflow: hidden;
    margin-right: 0px;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
}

.section-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card {
    background-color: #C4C9F4;
    padding: 20px;
    border-radius: 10px;
    
    text-align: center;
}

.card h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.card ul {
    list-style: none;
    padding-left: 0;
}

.card li {
    margin: 5px 0;
    font-size: 1.1em;
}
.navigationbar{
    background-color: white;
    color: white;
    width: 70px; /* Adjusted width */
    padding: 2px;
    flex-shrink: 0;
    border-radius: 8px; /* Added border radius */
}
.img_navig{
    margin:2px 1px 2px 1px;
}



