.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #151750;
}

.header-container {
  flex: 2; /* Take up twice the width of .login-container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-heading {
  font-family: 'Peace Sans'; /* Heading font */
  font-size: 75px; /* Larger font size for "PLANIT" */
  text-align: center;
  color: white;
  margin: 5px;
  font-weight: bold;
}

.tagline {
  font-size: 18px; /* Smaller font size for the tagline */
  text-align: center;
  color: white;
  margin: 5px;
  font-family: 'glacial indifference';
}

.login-container {
  flex: 1; /* Take up half the width of .header-container */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-box {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white; /* Add this */
  border-radius: 16px; /* Add border radius */
}

fieldset {
    background-color: white;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 15px;
}

.login-header {
    text-align: center;
    display: block;
    font-size: 30px;
    color: #151750;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Peace Sans'; /* Heading font */
}

.right-align {
  
    display: block;
    text-align: left;
    font-size: 16px;
    color: #151750;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: white; /* Textbox color changed to white */
    color: #000; /* Text color */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #aaa; /* Light color for placeholder text */
}

input[type="submit"] {
    width: 40%;
    padding: 10px;
    background-color: #151750;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s; /* Add transition for smooth effect */
}

input[type="submit"]:hover {
    background-color: #43439d; /* Change background color on hover */
}
