body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family:"glacial indifference";
}


.page-container {  
    display: flex;
    width: 100vw;
    height: 100vh;
    gap: 10px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    overflow: auto; /* Allow vertical scrolling */
    margin: 20px;
}

.main-content p {
    text-align: center;
}

.sidebar-container {
    height: 100vh;
    max-width: 250px;
    width :20%;
    min-width: 175px;

}
.menubar-container {
    height: 100vh;
    width: 60px;
    
}
h1 {
    font-family: 'Peace Sans';
    font-weight: 100;
    font-size: 36px;
    text-align: center;
    color: #151750;
}