body {
    margin: 0;
    padding: 0;
}

.Sidebar {
    height: 100%;
    top:0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    width: 250px;
    background-color: #151750;
    padding: 10px;
    border-radius: 0px 16px 16px 0px;
}

.active {
    background-color: #C2CBF8;
    width: 200px;
    height: 100%;
    padding: 5px;
    border-radius:5px;
    transition: 0.5s;
    color:#151750;
}

.Sidebar h2 {
    font-family: 'Peace Sans';
    font-size: 36px;
    color: #C2CBF8;
    font-weight:100 ;
    margin: 20px 0px ;
}
.SidebarList {
    list-style: none;
    
}

.SidebarList li {
    padding: 10px;
    
    
}
.title-nav {
    font-family: 'Peace Sans';
    font-size: 20px;
    color: white;
    font-weight: 100;
    cursor: pointer;
    text-decoration: none;
    border: #C2CBF8;

    
}

.subtitle-li {
    margin: 10px;
}


.subtitle-nav {
    font-family: 'glacial indifference';    
    color: white;
    font-size: 20px;
    font-weight: light;
    text-decoration: none;
    
}

